[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
aiodns = "*"
brotli = "*"
orjson = "*"
asyncpraw = "*"
uvloop = "*"
aiohttp = "*"
py-cord = {version = "==2.3.1", extras = ["voice"]}
pysimdjson = "*"
gql = {extras = ["aiohttp"], version = "*"}
python-dateutil = "*"
rin-exceptions = "*"
numpy = "*"
charset-normalizer = "*"

[dev-packages]
pre-commit = "*"
asyncpg = "*"
tortoise-orm = {extras = ["accel"], version = "*"}

[requires]
python_version = "3.10"
